<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.button{
				margin-left: 20%;
				margin-top: 5%;
			}
			h3{
				font-size: 34px;
				font-weight: 700 !important;
			}
			img{
				width: 70%;
				height: 70%;
				margin-left: 15%;
			}
			.input{
				border-radius: 8px;
				width: 50%;
				background-color: rgb(226, 226, 247);
				height: 80%;
			}
			.result{
				margin-top: 20%;
				margin-bottom: 10%;
			}
			.img_default{
				margin-top: 10%;
				margin-left: 20%;
				max-height: 400px;
			}
			.bn{
				margin-top: 10px;
				height: 90%;
			}
			label{
				font-size: 20px;
				font-weight: 500;
			}
		</style>
	</head>
	<body class="preloading">
		<div class="loader">
      		<span class="fas fa-spinner xoay icon"></span>
   		</div>
		{% include 'header.html' %}
		<div class="wrapper-main">
			<!-- full Title -->
			<div class="full-title">
				<div class="container">
					<!-- Page Heading/Breadcrumbs -->
					<h1 class="mt-4 mb-3">Cat's Multitask-Classifier</h1>
					<div class="breadcrumb-main">
						<ol class="breadcrumb">
							<li class="breadcrumb-item">
								<a href="index.html">Home</a>
							</li>
							<li class="breadcrumb-item active">Cat's Breeds</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- Custom Layout-->
			<form class="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">

							<br>
							<div class="row">
								<div class="col-md-6 left-ab">
									<h3>Mô Tả</h3>
									<p>Mèo từ lâu đã luôn là người bạn thân thiết của con người.Trong xã hội hiện đại,
										nhu cầu nuôi mèo làm vật nuôi lại càng tăng cao.Số lượng người yêu mèo ngày càng một lớn.
									</p>
									<p>
										Đi kèm với nhu cầu trên, thì việc tìm hiểu các giống mèo cũng là một vấn đề nan giải. Để
										tìm được một chú mèo ưng ý không phải là việc dễ dàng.HIện nay đa phần các bạn trẻ hay tìm nuôi
										mèo trên các mạng xã hội, nơi mà hầu hết chỉ gồm các bức ảnh về những con mèo mà ít có các thông tin đi
										kèm.
									</p>
									<P>Sản phẩm này của chúng ta sẽ giúp các bạn giải quyết được vấn đề đấy</P>
								</div>
								<div class="col-md-6 right-ab">
									<img class="img-fluid rounded mb-4" src="../static/images/vision-img.jpg" alt="" />
								</div>
							</div>
							<br>

							<br>
							<div class="row">

								<div class="col-md-6 left-ab">
									<img class="img-fluid rounded mb-4" src="../static/images/vision-img.jpg" alt="" />
								</div>
								<div class="col-md-6 right-ab">
									<h3>Tính Năng</h3>
									<br>
									<p><b>Multitask-Classifier for Breeds, Ages, Genders of Cat:</b> Phân loại Giống, tuổi và giới tính của loài mèo
									</p>
									<p>
										Hãy upload bức ảnh của bạn. Chúng tôi sẽ đưa ra các thông tin về giống, độ tuổi và giới tính của chú mèo.

									</p>

								</div>
							</div>
							<br>
							<h3 style="text-align:center">Trải Nghiệm</h3>
							<br>
							<div class="row" style="border:1px solid #e6e6e6;border-radius: 8px;">
								<div class="col-md-6 left-ab">
									<div>
										<img id="imgUpload" class="img_default" src="../static/images/vision-img.jpg" alt="your image" />
									</div>
									<div class="button">
										<input type="file" class="btn btn-danger bn" value="Upload" onchange="readURL(this);" />
										<input class="btn btn-success bn" type="button" value="Submit" id="btnSubmit">
										<input class="btn btn-primary bn" type="reset" value="Reset">
									</div>
									<br>
								</div>
								<div class="col-md-6 right-ab">
									<div class="result">
										<h4 style="text-align: center">Kết quả</h4>
										<h5 id="h3result"></h5>
									</div>
								</div>
							</div>
							<br>
							<br>
						</div>
					</div>
				</div>
			</form>
		</div>
		{% include 'footer.html' %}
		<script type="text/javascript" src="../static/js/CBcustom.js"></script>
	</body>
</html>
