<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title> Beemo Team </title>
	<!-- Bootstrap core CSS -->
	<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Fontawesome CSS -->
	<link href="css/all.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="css/style.css" rel="stylesheet">
	<style>
		.button{
			margin-left: 20%;
			margin-top: 5%;
		}
		h3{
			font-size: 34px;
			font-weight: 700 !important;
		}
		img{
			width: 70%;
			height: 70%;
			margin-left: 15%;
		}
		.input{
			border-radius: 8px;
			width: 50%;
			background-color: rgb(226, 226, 247);
			height: 80%;
		}
		.result{
			margin-top: 20%;
			margin-bottom: 10%;
		}
		.img_default{
			margin-top: 10%;
			margin-left: 20%;
			max-height: 400px;
		}
		.bn{
			margin-top: 10px;
			height: 90%;
		}
		label{
			font-size: 20px;
			font-weight: 500;
		}
	</style>
</head>
<body>
<div class="wrapper-main">
	<!-- Top Bar -->
	<div class="top-bar" id="header-page">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="social-media">
						<ul>
							<li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
							<li><a href="#"><i class="fab fa-twitter"></i></a></li>
							<li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
							<li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
							<li><a href="#"><i class="fab fa-instagram"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="contact-details">
						<ul>							
							<li><i class="fas fa-map-marker-alt"></i> Đại học Bách khoa Hà Nội - Số 1 Đại Cồ Việt - Hai Bà Trưng - Hà Nội</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-light top-nav">
        <div class="container">
            <a class="navbar-brand" href="index.html">
				<img src="images/logo.png" alt="logo" />	
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="fas fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">	
					<li class="nav-item">
						<a class="nav-link" href="index.html">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="about.html">About Us</a>
					</li>				
					<li class="nav-item dropdown">
						<a class="nav-link active" href="#" id="navbarDropdownBlog" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Product<i class="fas fa-sort-down"></i></a>
						<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
							<a class="dropdown-item" href="CommentSemantic.html">Comment's Semantic</a>
							<a class="dropdown-item" href="CatBreed.html">Cat Breeds</a>							
						</div>
					</li>										
					<li class="nav-item">
						<a class="nav-link" href="contact.html">Contact</a>
					</li>
				</ul>
            </div>
        </div>
    </nav>

	<!-- full Title -->
	<div class="full-title">
		<div class="container">
			<!-- Page Heading/Breadcrumbs -->
			<h1 class="mt-4 mb-3">Cat's Multitask-Classifier</h1>
			<div class="breadcrumb-main">
				<ol class="breadcrumb">
					<li class="breadcrumb-item">
						<a href="index.html">Home</a>
					</li>
					<li class="breadcrumb-item active">Cat's Breeds</li>
				</ol>
			</div>
		</div>
	</div>
	<!-- Custom Layout 
	Chèn giao diện mới vào vị trí này
	-->
	<form class="">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					
					<br>
					<div class="row">
						<div class="col-md-6 left-ab">
							<h3>Mô Tả</h3>
							<p>Mèo từ lâu đã luôn là người bạn thân thiết của con người.Trong xã hội hiện đại,
								nhu cầu nuôi mèo làm vật nuôi lại càng tăng cao.Số lượng người yêu mèo ngày càng một lớn.
							</p>
							<p>
								Đi kèm với nhu cầu trên, thì việc tìm hiểu các giống mèo cũng là một vấn đề nan giải. Để 
								tìm được một chú mèo ưng ý không phải là việc dễ dàng.HIện nay đa phần các bạn trẻ hay tìm nuôi 
								mèo trên các mạng xã hội, nơi mà hầu hết chỉ gồm các bức ảnh về những con mèo mà ít có các thông tin đi
								kèm.
							</p>
							<P>Sản phẩm này của chúng ta sẽ giúp các bạn giải quyết được vấn đề đấy</P>
						</div>
						<div class="col-md-6 right-ab">
							<img class="img-fluid rounded mb-4" src="images/vision-img.jpg" alt="" />
						</div>
					</div>
					<br>
					
					<br>
					<div class="row">

						<div class="col-md-6 left-ab">
							<img class="img-fluid rounded mb-4" src="images/vision-img.jpg" alt="" />
						</div>
						<div class="col-md-6 right-ab">
							<h3>Tính Năng</h3>
							<br>
							<p><b>Multitask-Classifier for Breeds, Ages, Genders of Cat:</b> Phân loại Giống, tuổi và giới tính của loài mèo
							</p>
							<p>
								Hãy upload bức ảnh của bạn. Chúng tôi sẽ đưa ra các thông tin về giống, độ tuổi và giới tính của chú mèo.
								
							</p>

						</div>
					</div>
					<br>
					<h3 style="text-align:center">Trải Nghiệm</h3>
					<br>
					<div class="row" style="border:1px solid #e6e6e6;border-radius: 8px;">
						<div class="col-md-6 left-ab">
							<div>
								<img id="blah" class="img_default" src="images/vision-img.jpg" alt="your image" />
							</div>
							<div class="button">
								<input type="file" class="btn btn-danger bn" value="Upload" onchange="readURL(this);" />
								<input class="btn btn-success bn" type="submit" value="Submit">
								<input class="btn btn-primary bn" type="reset" value="Reset">
							</div>
							
							<br>
						</div>
						<div class="col-md-1"></div>
						<div class="col-md-5 right-ab">
							<div class="result">
								<h3>Kết quả</h3>
								<br>
								<div class="row">
									<div class="col-md-3">
										<label>Giống:</label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control input" id="breed">
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<label>Độ tuổi:</label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control input" id="breed">
									</div>
								</div>

								<div class="row">
									<div class="col-md-3">
										<label>Giới tính:</label>
									</div>
									<div class="col-md-9">
										<input type="text" class="form-control input" id="breed">
									</div>
								</div>
							</div>
						</div>
					</div>
					<br>
					<br>
				</div>
			</div>
		</div>
	</form>


    <!-- /.container -->
    <!--footer starts from here-->
    <footer class="footer">
        <div class="container bottom_border">
            <div class="row">
				<div class="col-lg-6 col-md-6 col-sm-6 col">
					<h5 class="headin5_amrc col_white_amrc pt2">Chúng tôi</h5>
					<!--headin5_amrc-->
					<p class="mb10">Một nhóm nhỏ được thành lập để cùng nhau phát triển ý tưởng thành sản phẩm</p>
					<ul class="footer-social">
						<li><a class="facebook hb-xs-margin" href="#"><span class="hb hb-xs spin hb-facebook"><i class="fab fa-facebook-f"></i></span></a></li>
						<li><a class="twitter hb-xs-margin" href="#"><span class="hb hb-xs spin hb-twitter"><i class="fab fa-twitter"></i></span></a></li>
						<li><a class="instagram hb-xs-margin" href="#"><span class="hb hb-xs spin hb-instagram"><i class="fab fa-instagram"></i></span></a></li>
						<li><a class="googleplus hb-xs-margin" href="#"><span class="hb hb-xs spin hb-google-plus"><i class="fab fa-google-plus-g"></i></span></a></li>
						<li><a class="dribbble hb-xs-margin" href="#"><span class="hb hb-xs spin hb-dribbble"><i class="fab fa-dribbble"></i></span></a></li>
					</ul>
				</div>	
				<div class="col-lg-6 col-md-6 col-sm-6">
					<h5 class="headin5_amrc col_white_amrc pt2">Link</h5>
					<!--headin5_amrc-->
					<ul class="footer_ul_amrc">
						<li><a href="#header-page"><i class="fas fa-long-arrow-alt-right"></i>Đầu trang</a></li>												
						<li><a href="about.html"><i class="fas fa-long-arrow-alt-right"></i>About Us</a></li>
						<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Machine Learning</a></li>
						<li><a href="#"><i class="fas fa-long-arrow-alt-right"></i>Deep Learning</a></li>
					</ul>
					<!--footer_ul_amrc ends here-->
				</div>				
			</div>
		</div>
        <div class="container">
            <p class="copyright text-center">All Rights Reserved. &copy; 2020 <a href="#">Beemo Team</a> Design By : 
				<a href="https://html.design/">html design</a>
            </p>
        </div>
    </footer>
</div>
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="js/jquery.appear.js"></script>
<script src="js/script.js"></script>
<script type="text/javascript">
	function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
					.attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
</body>
</html>
