<!DOCTYPE html>
<html lang="vi">

	{% include 'header.html' %}
	<div>
		<!-- full Title -->
		<div class="full-title">
			<div class="container">
				<!-- Page Heading/Breadcrumbs -->
				<h1 class="mt-4 mb-3"> About Us</h1>
				<div class="breadcrumb-main">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">
							<a href="index.html">Home</a>
						</li>
						<li class="breadcrumb-item active"> About Us </li>
					</ol>
				</div>
			</div>
		</div>

		<div class="container">
			<!-- About Content -->
			<div class="about-main">
				<div class="row">
					<div class="col-lg-6">
						<img class="img-fluid rounded mb-4" src="{{url_for('static',filename='images/about-img.jpg')}}" alt="" />
					</div>
					<div class="col-lg-6">
						<h2>Công việc hiện tại</h2>
						<p>Chúng tôi là nhóm sinh viên đến từ viện Công Nghệ Thông Tin và Truyền Thông, Đại học Bách Khoa Hà Nội.</p>
						<P>Hiện tại chúng tôi đang theo học chuyên ngành Khoa Học Máy tính và đang là sinh viên năm thứ 3. Nhóm có tất cả 3 người, tập hợp lại với mục tiêu cùng
							nhau học tập, rèn luyện và phát triển các dự án Công nghệ cùng nhau.</P>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>
		<div class="about-inner">
			<div class="container">
				<div class="row mb-4">
					<div class="col-lg-6">
						<div class="left-ab">
							<h3>Mục tiêu</h3>
							<p>Trang web được lập ra với mục tiêu tích hợp các sản phẩm Deep Learning và Machine Learning của nhóm, vừa là nơi
								giới thiệu các sản phẩm này với cộng đồng. Dưới đây là các sản phẩm hiện có của chúng tôi:
							</p>
							<ul>
								<li><b>1. Comment's Semantic Classifier:</b> Phân loại sắc thái bình luận, xem xét một bình luận mang ý nghĩa tích cực hay tiêu cực</li>
								<li><b>2. Multitask-Classifier for Breeds, Ages, Genders of Cat:</b> Phân loại Giống, tuổi và giới tính của loài mèo</li>

						  </ul>
						</div>
					</div>
					<div class="col-lg-6">
						<div class="right-ab">
							<img class="img-fluid rounded mb-4" src="{{url_for('static',filename='images/mission-img.jpg')}}" alt="" />
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6">
						<div class="right-ab">
							<img class="img-fluid rounded mb-4" src="{{url_for('static',filename='images/vision-img.jpg')}}" alt="" />
						</div>
					</div>
					<div class="col-lg-6">
						<div class="left-ab">
							<h3>Định hướng trong tương lai</h3>
							<p>Chúng tôi sẽ cố gắng phát triển hơn nữa trong tương lai, cụ thể với các mục tiêu:</p>
							<ul>
								<li>1.Phát triển khả năng lập trình của bản thân</li>
								<li>2.Tích hợp ngày càng nhiều sản phẩm chất lượng hơn nữa lên trang web</li>
								<li>3.Các sản phẩm sẽ ngày càng tiện lợi và giúp ích hơn cho người dùng</li>
								<li>4.Đóng góp phát triển cộng đồng CNTT ở Việt Nam</li>

						  </ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<!-- Team Members -->
			<div class="team-members-box">
				<h2>Thành Viên</h2>
				<div class="row">
					<div class="col-lg-4 mb-4">
						<div class="card h-100 text-center">
							<div class="our-team">
								<img class="img-fluid" src="{{url_for('static',filename='images/team_01.jpg')}}" alt="" />
								<div class="team-content">
									<h3 class="title">Nguyễn Sỹ Đức</h3>
									<span class="post">web developer</span>
									<ul class="social">
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="card h-100 text-center">
							<div class="our-team">
								<img class="img-fluid" src="{{url_for('static',filename='images/team_02.jpg')}}" alt="" />
								<div class="team-content">
									<h3 class="title">Nguyễn Hồng Sơn</h3>
									<span class="post">web developer</span>
									<ul class="social">
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-4 mb-4">
						<div class="card h-100 text-center">
							<div class="our-team">
								<img class="img-fluid" src="{{url_for('static',filename='images/team_01.jpg')}}" alt="" />
								<div class="team-content">
									<h3 class="title">Nguyễn Việt Hoài</h3>
									<span class="post">web developer</span>
									<ul class="social">
										<li><a href="#"><i class="fab fa-facebook"></i></a></li>
										<li><a href="#"><i class="fab fa-google-plus"></i></a></li>
										<li><a href="#"><i class="fab fa-twitter"></i></a></li>
										<li><a href="#"><i class="fab fa-linkedin"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
		</div>

		<div class="customers-box">
			<div class="container">
				<!-- Our Customers -->
				<h2>Đối Tác</h2>
				<div class="row">
					<div class="col-lg-12">
						<div id="customers-slider" class="owl-carousel">
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_01.png')}}" alt="" />
							</div>
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_02.png')}}" alt="" />
							</div>
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_03.png')}}" alt="" />
							</div>
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_04.png')}}" alt="" />
							</div>
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_05.png')}}" alt="" />
							</div>
							<div class="mb-4">
								<img class="img-fluid" src="{{url_for('static',filename='images/logo_06.png')}}" alt="" />
							</div>
						</div>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container -->
		</div>
	</div>
    <!-- /.container -->
    {% include "footer.html"  %}
</html>
